*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid #fff; */
}

body {
    background-color: #2F4858;
    color: white;
}

header{
    text-align: center;
}

header>h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

header>p {
    font-size: 2rem;
}

.container{
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 5rem;
}

.gallows{
    position: relative;
    height: 400px;
    width: 400px;
    display:flex;
    justify-content: flex-start;
    margin-right: 4rem;
}

.four{
    background-color: #ffac30;
    width: 10px;
    height: 50px;
    position: absolute;
    left: 210px;
}

.three{
    background-color: #ffac30;
    width: 130px;
    height: 10px;
    position: absolute;
    left: 80px;
}

.two{
    background-color: #ffac30;
    width: 10px;
    height: 350px;
    position: absolute;
    left: 70px;
}

.one{
    background-color: #ffac30;
    width: 150px;
    height: 10px;
    position: absolute;
    top: 350px;
    right: 2;
}

.word{
    margin-top: 3rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.word>p {
    text-align: center;
    font-size: 4rem;
    border-bottom: 3px solid white;
    width: 50px;
    height: 5rem;
}

.head{
    width: 75px;
    height: 75px;
    border: 8px solid #ffac30;
    border-radius: 50%;
    position: absolute;
    left: 177px;
    top: 50px;
    display: none;
}

.body{
    background-color: #ffac30;
    width: 10px;
    height: 150px;
    position: absolute;
    left: 210px;
    top: 120px;
    display: none;
}

.arm1 {
    background-color: #ffac30;
    width: 10px;
    height: 60px;
    position: absolute;
    left: 190px;
    top: 120px;
    transform: rotate(135deg);
    display: none;
}

.arm2 {
    background-color: #ffac30;
    width: 10px;
    height: 60px;
    position: absolute;
    left: 230px;
    top: 120px;
    transform: rotate(225deg);
    display: none;
}

.leg1 {
    background-color: #ffac30;
    width: 10px;
    height: 70px;
    position: absolute;
    left: 185px;
    top: 255px;
    transform: rotate(45deg);
    display: none;
}

.leg2 {
    background-color: #ffac30;
    width: 10px;
    height: 70px;
    position: absolute;
    left: 235px;
    top: 255px;
    transform: rotate(135deg);
    display: none;
}

.feedback {
    height: fit-content;
    text-align: center;
    margin-right: 3rem;
}

.feedback ul {
    list-style: none;
    font-size: 2rem;
    display: flex;
    width: fit-content;
    height: fit-content;
    margin-left: 1rem;
}


.notification-container h1{
    font-size: 1rem;
}

.notification-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    width: 33.3%;
    height: 3rem;
    position: absolute;
    left: 33.3%;
    background-color: #5F788A;
    top: -50px;
    transition: transform 0.3s ease-in-out;
}

.notification-container.show {
    transform: translateY(50px);
}

.win-lose-notification {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border-radius: 10px;
    min-width: 20%;
    padding: 2rem;
    height: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #5F788A;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: none;
}

.win-lose-notification button {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
    border: none;
}
.win-lose-notification button:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.win-lose-notification button:active {
	position:relative;
	top:1px;
}
